// main: ./base.scss


// Specific Section STYLE
#about {
    @include bgSection ('../img/a-propos-bg.jpg');
}

#kcalm {
    @include bgSection( '../img/keep-calm-bg.jpg');
}

#mpp {
    @include bgSection( '../img/mpp-bg.jpg');
}

#bgm {
    @include bgSection( '../img/bgm-bg.jpg');
}

#wp {
    @include bgSection( '../img/wp-bg.jpg');
    display: flex;
    align-items: center;

    .columns {
        margin-left: 30%;
        flex-wrap: wrap;
        height: auto;
        text-align: center;

        @include touch {
            margin-left: 0;
            height: 100%;
        }
    }
}
